# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore compiled output
/dist
/build

# Ignore __pycache__ directory in any subfolder:
**/__pycache__/

# Ignore .egg-info:
*.egg-info

# Ignore all .tmp files
*.tmp

# Ignore reports_4_test directory
reports_4_test/

# Ignore all .DS_Store files
.DS_Store

# Ignore all .vscode files
.vscode/

# Ignore all .idea files
.idea/

# Ignore all .pytest_cache files
.pytest_cache/

# Ignore all _test_* files
_test_*/
_test_*

# Ignoring all _OLD_* and _old_* files
_OLD_*/
_old_*/

# Ignore all .png files
# *.png